@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap");
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: courier, sans-serif;
  background-color: #36393f;
  height: 100%;
  width: 100%;
}

.App-Hero {
  height: 40vh;
}

.Hero-Title {
  color: white;
  font-size: 3vmax;
  font-family: Krona One;
}
